<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Student zalozen</title>
    </head>
    <body>
        <h2>Vítejte na Vzdělávací platformě</h2>
        <p>Do platformy se připojíte pomocí tohoto emailu a heslo vám předá lektor.</p>
        <a href="{{loginUrl}}">Přihlaste se do platformy</a>
    </body>
</html>